*~
.venv
venv
env
!.gitkeep
tmp
.DS_Store
.idea
*.log
*.map
*.pyc
*.h5
normalized_metric_big_2.npy
normalized_metric_small_2.npy
normalized_metric_new_small.npy
normalized_metric_new_big.npy
__pycache__/
src/
new_small/
new_big/
saved_models/
logs/
results/
images/
figures/
babyai/
rsync_exclude.txt
wandb/
private.yaml
result/
overcooked_result/
overcooked_result_log/
overcooked_ai/overcooked_ai_py/data/planners/